*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

# Parcel build directories
.cache
.build

dist

.env
.env.*
!.env.template

**/bin/*.*.ts
!**/bin/*.template.ts

**/deploy.*.sh
!**/deploy.template.sh
